/* ... Il tuo codice CSS esistente ... */

/* Aggiunta una media query per centrare il logo solo per dispositivi mobili */
@media only screen and (max-width: 600px) {
    #logo {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .card {
        width: 90%;
    }

    .title,
    .subtitle,
    .email-login label {
        text-align: center;
        margin-left: 0; /* Resetta il margine a sinistra */
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        box-sizing: border-box;
    }

    .cta-btn,
    .forgot-pass {
        width: 100%;
        box-sizing: border-box;
    }

    /* Aggiunto un margine a sinistra solo quando il telefono è in modalità verticale */
    @media only screen and (orientation: portrait) {
        .title,
        .subtitle,
        .email-login label {
            margin-left: 10px; /* Puoi regolare la quantità di margine a tuo piacimento */
        }
    }
}
