body {
    margin: 0;
    background: rgb(255, 179, 0);
    background: linear-gradient(180deg, rgba(255, 179, 0, 1) 0%, rgba(255, 255, 255, 1) 60%);
    height: auto;
    display: grid;
    place-items: center;
}

:root {
    --font-color: #ff7700;
}

.main {
    position: relative;
    overflow: hidden;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 80px 160px rgba(0, 0, 0, 0.4);
}

/* Aggiunto il codice per responsive design con media queries */
@media only screen and (max-width: 600px) {
    body {
        height: auto;
    }

    .main span {
        display: none;
    }

    .card {
        width: 80%;
        margin: 0 auto;
        padding: 1.2rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px 15px;
        margin-top: 8px;
        margin-bottom: 15px;
        width: calc(100% - 30px);
        box-sizing: border-box;
    }

    .cta-btn {
        padding: 14px 15px;
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box;
    }
}

.title {
    text-align: center;
    color: var(--font-color);
    margin: 0;
}

.subtitle {
    text-align: center;
    color: white;
}

.email-login {
    display: flex;
    flex-direction: column;
}

.email-login label {
    color: var(--font-color);
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cta-btn {
    background-color: var(--font-color);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.forgot-pass {
    text-align: center;
    display: block;
}
